<% @messages.each do |message| %>
<%= div_for message, class: 'row' do %>
  <div class="col-sm-2">
    <span class="name label label-<%= message.guest == current_guest ? :warning : :primary %>"><%= message.guest.name %></span>
  </div>
  <div class="col-sm-10"><%= raw RDiscount.new(message.content, :autolink).to_html %></div>
<% end %>
<% end %>