<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">匿名寮#<%= @room.slug %></span>
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="https://github.com/tonytonyjan/guest-chat" target="_blank">GitHub</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">誰在線上</span>
    <div id="guests" class="mdl-list"></div>
  </div>
  <main id="main" class="mdl-layout__content">
    <div class="page-content">
      <ul id="messages" class="mdl-list"></ul>
    </div>
  </main>
  <form class="submit-form">
    <div class="submit-form__text-field">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
        <textarea class="mdl-textfield__input" type="text" rows="1" id="message" autofocus style="resize: none"></textarea>
        <label class="mdl-textfield__label" for="message">在這裡輸入訊息⋯⋯</label>
      </div>
    </div>
    <div class="submit-form__send-button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect">
        <i class="material-icons">send</i>
      </button>
    </div>
  </form>
</div>
<div id="me" style="display:none"><%= current_guest.id %></div>
