<li class="mdl-list__item mdl-list__item--two-line">
  <span class="mdl-list__item-primary-content">
    <img src="<%= avatar %>" class="mdl-list__item-avatar">
    <span><%= name %></span>
    <span class="mdl-list__item-sub-title"><%= content %></span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-info"><%= created_at %></span>
  </span>
</li>
