@import "material-design-lite/src/color-definitions";
$color-primary: $palette-teal-500;
$color-primary-dark: $palette-teal-700;
$color-accent: $palette-orange-A200;
$layout-drawer-narrow: 300px;
$input-text-vertical-spacing: 0;
